<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Data Wrangling

Estaimted time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

-   Handle missing values
-   Correct data format
-   Standardize and Normalize Data

<h2>Table of content</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ul>
    <li><a href="#identify_handle_missing_values">Identify and handle missing values</a>
        <ul>
            <li><a href="#identify_missing_values">Identify missing values</a></li>
            <li><a href="#deal_missing_values">Deal with missing values</a></li>
            <li><a href="#correct_data_format">Correct data format</a></li>
        </ul>
    </li>
    <li><a href="#data_standardization">Data standardization</a></li>
    <li><a href="#data_normalization">Data Normalization (centering/scaling)</a></li>
    <li><a href="#binning">Binning</a></li>
    <li><a href="#indicator">Indicator variable</a></li>
</ul>
    
Estimated Time Needed: <strong>30 min</strong>
</div>
 
<hr>

<h2>What is the purpose of Data Wrangling?</h2>

Data Wrangling is the process of converting data from the initial format to a format that may be better for analysis.

<h3>What is the fuel consumption (L/100k) rate for the diesel car?</h3>

<h3>Import data</h3>
<p>
You can find the "Automobile Data Set" from the following link: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a>. 
We will be using this data set throughout this course.
</p>

<h4>Import pandas</h4>

In [5]:
import pandas as pd
import matplotlib.pylab as plt

<h2>Reading the data set from the URL and adding the related headers.</h2>

URL of the dataset

This dataset was hosted on IBM Cloud object click <a href="https://cocl.us/corsera_da0101en_notebook_bottom">HERE</a> for free storage

In [6]:
filename = 'D:\Lecturer Note\Sem 5\Bio Prog\Project Bioinfo - SARS Dataset.csv'

 Python list <b>headers</b> containing name of headers

In [7]:
headers = ["Areas","Total  (SARS 2003)","Number of deaths (SARS 2003) ","Case fatality ratio (%) (SARS 2003)","Cumulative_deaths","Date onset first probable case (SARS 2003)","Date onset last probable case (SARS 2003)","Total (SARS Covid19","Number of deaths (SARS Covid19)","Case fatality ratio (%) (SARS Covid19","Date onset first probable case (SARS Covid19)","Date onset last probable case (SARS Covid19)"]

Use the Pandas method <b>read_csv()</b> to load the data from the web address. Set the parameter  "names" equal to the Python list "headers".

In [8]:
df = pd.read_csv(filename, names = headers)

 Use the method <b>head()</b> to display the first five rows of the dataframe.

In [9]:
# To see what the data set looks like, we'll use the head() method.
df.head(100)

,Areas,Total (SARS 2003),Number of deaths (SARS 2003),Case fatality ratio (%) (SARS 2003),Cumulative_deaths,Date onset first probable case (SARS 2003),Date onset last probable case (SARS 2003),Total (SARS Covid19,Number of deaths (SARS Covid19),Case fatality ratio (%) (SARS Covid19,Date onset first probable case (SARS Covid19),Date onset last probable case (SARS Covid19)
0,Areas,Total (SARS 2003),Number of deaths (SARS 2003),Case fatality ratio (%) (SARS 2003),Date onset first probable case (SARS 2003),Date onset last probable case (SARS 2003),Total (SARS Covid19),Number of deaths (SARS Covid19),Case fatality ratio (%) (SARS Covid19),Date onset first probable case (SARS Covid19),Date onset last probable case (SARS Covid19),NaN
1,Cumulative number of cases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Australia,6,0,0,26-Feb-03,1-Apr-03,"27,658",907,3.28,25-Jan-2020,?,NaN
3,Argentina,?,?,?,?,?,"1,236,851","33,348",2.7,7-March-2020,?,NaN
4,Bangladesh,?,?,?,?,?,"420,238","6,067",1.44,8-March-2020,NaN,NaN
5,Brazil,?,?,?,?,?,"5,653,561","162,286",2.87,27-March-2020,?,NaN
6,Canada,251,43,17,23-Feb-03,2-Apr-03,"260,055","10,490",4.03,25-Jan-2020,?,NaN
7,China,5327,349,7,16-Nov-02,3-Jun-03,"86,212","4,634",5.38,31-Dec-2019,?,NaN
8,"China, Hong Kong Special Administrative Region",1755,299,17,15-Feb-03,31-May-03,"5,375",107,1.99,23-Jan-2020,?,NaN
9,"China, Macao Special Administrative Region",1,0,0,5-May-03,5-May-03,46,0,0,?,?,NaN
10,"China, Taiwan",346,37,11,25-Feb-03,15-Jun-03,577,7,1.21,?,?,NaN
11,France,7,1,14,21-Mar-03,3-May-03,"1,748,705","40,169",2.3,24-Jan-2020,?,NaN
12,Germany,9,0,0,9-Mar-03,6-May-03,"660,807","11,448",1.73,27-Jan-2020,?,NaN
13,India,3,0,0,25-Apr-03,6-May-03,"8,513,011","126,201",1.48,30-Jan-2020,?,NaN
14,Indonesia,2,0,0,6-Apr-03,17-Apr-03,"437,716","14,614",3.34,1-Mar-2020,?,NaN
15,Iran,?,?,?,?,?,"682,486","38,291",5.61,19-Feb-2020,NaN,NaN
16,Italy,4,0,0,12-Mar-03,20-Apr-03,"902,490","41,063",4.55,31-Jan-2020,?,NaN
17,Japan,?,?,?,?,?,"105,914","1,809",1.71,16-Jan-2020,?,NaN
18,Kuwait,1,0,0,9-Apr-03,9-Apr-03,"131,743",811,0.62,24-Feb-2020,?,NaN
19,Mexico,?,?,?,?,?,"961,938","94,808",9.86,24-Mar-2020,NaN,NaN
20,Malaysia,5,2,40,14-Mar-03,22-Apr-03,"40,209",286,0.71,25-Jan-2020,?,NaN
21,Mongolia,9,0,0,31-Mar-03,6-May-03,?,?,?,?,?,NaN
22,New Zealand,1,0,0,20-Apr-03,20-Apr-03,"1,982",25,1.26,28-Feb-2020,?,NaN
23,Philippines,14,2,14,25-Feb-03,5-May-03,"396,395","7,539",1.9,30-Jan-2020,?,NaN
24,Republic of Ireland,1,0,0,27-Feb-03,27-Feb-03,"64,855","1,945",3,29-Feb-2020,?,NaN
25,Republic of South Korea,3,0,0,25-Apr-03,10-May-03,"27,427",478,1.74,20-Jan-2020,?,NaN
26,Romania,1,0,0,19-Mar-03,19-Mar-03,"303,751","7,879",2.59,?,?,NaN
27,Russian Federation,1,0,0,5-May-03,5-May-03,"1,774,334","30,537",1.72,31-Jan-2020,?,NaN
28,Saudi Arabia,?,?,?,?,?,"350,592","5,540",1.58,2-Mar-2020,NaN,NaN
29,Singapore,238,33,14,25-Feb-03,5-May-03,"58,056",28,0.05,23-Jan-2020,?,NaN
30,South Africa,1,1,100,3-Apr-03,3-Apr-03,"735,906","19,789",2.69,5-Mar-2020,?,NaN
31,Spain,1,0,0,26-Mar-03,26-Mar-03,"1,388,411","38,833",2.8,31-Jan-2020,?,NaN
32,Sweden,5,0,0,28-Mar-03,23-Apr-03,?,?,?,?,?,NaN
33,Switzerland,1,0,0,9-Mar-03,9-Mar-03,"211,913","2,764",1.3,24-Feb-2020,?,NaN
34,Thailand,9,2,22,11-Mar-03,27-May-03,"3,837",60,1.56,13-Jan-2020,?,NaN
35,Turkey,?,?,?,?,?,"391,739","10,803",2.76,11-Mar-2020,NaN,NaN
36,United Kingdom,4,0,0,1-Mar-03,1-Apr-03,"1,171,441","48,888",4.17,31-Jan-2020,?,NaN
37,United States,29,0,0,24-Feb-03,13-Jul-03,"10,186,081","243,290",2.39,21-Jan-2020,?,NaN
38,Viet Nam,63,5,8,23-Feb-03,14-Apr-03,"1,213",35,2.89,?,?,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Total,8098,774,9.6,NaN,NaN,"38,943,525",1005779,2.548857143,NaN,NaN,NaN

As we can see, several question marks appeared in the dataframe; those are missing values which may hinder our further analysis. 

<div>So, how do we identify all those missing values and deal with them?</div> 

<b>How to work with missing data?</b>

Steps for working with missing data:

<ol>
    <li>Identify missing data</li>
    <li>deal with missing data</li>
    <li>correct data format</li>
</ol>

<h2 id="identify_handle_missing_values">Identify and handle missing values</h2>

<h3 id="identify_missing_values">Identify missing values</h3>
<h4>Convert "?" to NaN</h4>
In the car dataset, missing data comes with the question mark "?".
We replace "?" with NaN (Not a Number), which is Python's default missing value marker, for reasons of computational speed and convenience. Here we use the function: 
 <pre>.replace(A, B, inplace = True) </pre>
to replace A by B

In [10]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(10) #in the bracket means row

,Areas,Total (SARS 2003),Number of deaths (SARS 2003),Case fatality ratio (%) (SARS 2003),Cumulative_deaths,Date onset first probable case (SARS 2003),Date onset last probable case (SARS 2003),Total (SARS Covid19,Number of deaths (SARS Covid19),Case fatality ratio (%) (SARS Covid19,Date onset first probable case (SARS Covid19),Date onset last probable case (SARS Covid19)
0,Areas,Total (SARS 2003),Number of deaths (SARS 2003),Case fatality ratio (%) (SARS 2003),Date onset first probable case (SARS 2003),Date onset last probable case (SARS 2003),Total (SARS Covid19),Number of deaths (SARS Covid19),Case fatality ratio (%) (SARS Covid19),Date onset first probable case (SARS Covid19),Date onset last probable case (SARS Covid19),NaN
1,Cumulative number of cases,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Australia,6,0,0,26-Feb-03,1-Apr-03,"27,658",907,3.28,25-Jan-2020,NaN,NaN
3,Argentina,NaN,NaN,NaN,NaN,NaN,"1,236,851","33,348",2.7,7-March-2020,NaN,NaN
4,Bangladesh,NaN,NaN,NaN,NaN,NaN,"420,238","6,067",1.44,8-March-2020,NaN,NaN
5,Brazil,NaN,NaN,NaN,NaN,NaN,"5,653,561","162,286",2.87,27-March-2020,NaN,NaN
6,Canada,251,43,17,23-Feb-03,2-Apr-03,"260,055","10,490",4.03,25-Jan-2020,NaN,NaN
7,China,5327,349,7,16-Nov-02,3-Jun-03,"86,212","4,634",5.38,31-Dec-2019,NaN,NaN
8,"China, Hong Kong Special Administrative Region",1755,299,17,15-Feb-03,31-May-03,"5,375",107,1.99,23-Jan-2020,NaN,NaN
9,"China, Macao Special Administrative Region",1,0,0,5-May-03,5-May-03,46,0,0,NaN,NaN,NaN

Identify_missing_values

<h4>Evaluating for Missing Data</h4>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:

<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [11]:
missing_data = df.isnull()
missing_data.head(100)

,Areas,Total (SARS 2003),Number of deaths (SARS 2003),Case fatality ratio (%) (SARS 2003),Cumulative_deaths,Date onset first probable case (SARS 2003),Date onset last probable case (SARS 2003),Total (SARS Covid19,Number of deaths (SARS Covid19),Case fatality ratio (%) (SARS Covid19,Date onset first probable case (SARS Covid19),Date onset last probable case (SARS Covid19)
0,False,False,False,False,False,False,False,False,False,False,False,True
1,False,True,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,True,True
3,False,True,True,True,True,True,False,False,False,False,True,True
4,False,True,True,True,True,True,False,False,False,False,True,True
5,False,True,True,True,True,True,False,False,False,False,True,True
6,False,False,False,False,False,False,False,False,False,False,True,True
7,False,False,False,False,False,False,False,False,False,False,True,True
8,False,False,False,False,False,False,False,False,False,False,True,True
9,False,False,False,False,False,False,False,False,False,True,True,True
10,False,False,False,False,False,False,False,False,False,True,True,True
11,False,False,False,False,False,False,False,False,False,False,True,True
12,False,False,False,False,False,False,False,False,False,False,True,True
13,False,False,False,False,False,False,False,False,False,False,True,True
14,False,False,False,False,False,False,False,False,False,False,True,True
15,False,True,True,True,True,True,False,False,False,False,True,True
16,False,False,False,False,False,False,False,False,False,False,True,True
17,False,True,True,True,True,True,False,False,False,False,True,True
18,False,False,False,False,False,False,False,False,False,False,True,True
19,False,True,True,True,True,True,False,False,False,False,True,True
20,False,False,False,False,False,False,False,False,False,False,True,True
21,False,False,False,False,False,False,True,True,True,True,True,True
22,False,False,False,False,False,False,False,False,False,False,True,True
23,False,False,False,False,False,False,False,False,False,False,True,True
24,False,False,False,False,False,False,False,False,False,False,True,True
25,False,False,False,False,False,False,False,False,False,False,True,True
26,False,False,False,False,False,False,False,False,False,True,True,True
27,False,False,False,False,False,False,False,False,False,False,True,True
28,False,True,True,True,True,True,False,False,False,False,True,True
29,False,False,False,False,False,False,False,False,False,False,True,True
30,False,False,False,False,False,False,False,False,False,False,True,True
31,False,False,False,False,False,False,False,False,False,False,True,True
32,False,False,False,False,False,False,True,True,True,True,True,True
33,False,False,False,False,False,False,False,False,False,False,True,True
34,False,False,False,False,False,False,False,False,False,False,True,True
35,False,False,True,True,True,True,False,False,False,False,True,True
36,False,False,False,False,False,False,False,False,False,False,True,True
37,False,False,False,False,False,False,False,False,False,False,True,True
38,False,False,False,False,False,False,False,False,False,True,True,True
39,True,True,True,True,True,True,True,True,True,True,True,True
40,False,False,False,False,True,True,False,False,False,True,True,True

"True" stands for missing value, while "False" stands for not missing value.

<h4>Count missing values in each column</h4>
<p>
Using a for loop in Python, we can quickly figure out the number of missing values in each column. As mentioned above, "True" represents a missing value, "False"  means the value is present in the dataset.  In the body of the for loop the method  ".value_counts()"  counts the number of "True" values. 
</p>

In [12]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Areas
False    40
True      1
Name: Areas, dtype: int64

Total  (SARS 2003)
False    32
True      9
Name: Total  (SARS 2003), dtype: int64

Number of deaths (SARS 2003)
False    31
True     10
Name: Number of deaths (SARS 2003) , dtype: int64

Case fatality ratio (%) (SARS 2003)
False    31
True     10
Name: Case fatality ratio (%) (SARS 2003), dtype: int64

Cumulative_deaths
False    30
True     11
Name: Cumulative_deaths, dtype: int64

Date onset first probable case (SARS 2003)
False    30
True     11
Name: Date onset first probable case (SARS 2003), dtype: int64

Date onset last probable case (SARS 2003)
False    37
True      4
Name: Date onset last probable case (SARS 2003), dtype: int64

Total (SARS Covid19
False    37
True      4
Name: Total (SARS Covid19, dtype: int64

Number of deaths (SARS Covid19)
False    37
True      4
Name: Number of deaths (SARS Covid19), dtype: int64

Case fatality ratio (%) (SARS Covid19
False    32
True      9
Name: Case fatality ratio (%) (SARS Covid19, dtype: int64

Date onset first probable case (SARS Covid19)
True     40
False     1
Name: Date onset first probable case (SARS Covid19), dtype: int64

Date onset last probable case (SARS Covid19)
True    41
Name: Date onset last probable case (SARS Covid19), dtype: int64

Based on the summary above, each column has 205 rows of data, seven columns containing missing data:

<ol>
    <li>"normalized-losses": 41 missing data</li>
    <li>"num-of-doors": 2 missing data</li>
    <li>"bore": 4 missing data</li>
    <li>"stroke" : 4 missing data</li>
    <li>"horsepower": 2 missing data</li>
    <li>"peak-rpm": 2 missing data</li>
    <li>"price": 4 missing data</li>
</ol>

<h3 id="deal_missing_values">Deal with missing data</h3>
<b>How to deal with missing data?</b>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data<br>
        a. replace it by mean<br>
        b. replace it by frequency<br>
        c. replace it based on other functions
    </li>
</ol>

Whole columns should be dropped only if most entries in the column are empty. In our dataset, none of the columns are empty enough to drop entirely.
We have some freedom in choosing which method to replace data; however, some methods may seem more reasonable than others. We will apply each method to many different columns:

<b>Replace by mean:</b>

<ul>
    <li>"normalized-losses": 41 missing data, replace them with mean</li>
    <li>"stroke": 4 missing data, replace them with mean</li>
    <li>"bore": 4 missing data, replace them with mean</li>
    <li>"horsepower": 2 missing data, replace them with mean</li>
    <li>"peak-rpm": 2 missing data, replace them with mean</li>
</ul>

<b>Replace by frequency:</b>

<ul>
    <li>"num-of-doors": 2 missing data, replace them with "four". 
        <ul>
            <li>Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to occur</li>
        </ul>
    </li>
</ul>

<b>Drop the whole row:</b>

<ul>
    <li>"price": 4 missing data, simply delete the whole row
        <ul>
            <li>Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore any row now without price data is not useful to us</li>
        </ul>
    </li>
</ul>

<h4>Calculate the average of the column </h4>

In [13]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

KeyError: 'normalized-losses'

<h4>Replace "NaN" by mean value in "normalized-losses" column</h4>

In [14]:
df["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

KeyError: 'normalized-losses'

<h4>Calculate the mean value for 'bore' column</h4>

In [15]:
avg_bore=df['Total  (SARS 2003)'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

ValueError: could not convert string to float: 'Total  (SARS 2003)      '

<h4>Replace NaN by mean value</h4>

In [16]:
df["Total (SARS 2003)"].replace(np.nan, avg_bore, inplace=True)

KeyError: 'Total (SARS 2003)'

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #1: </h1>

<b>According to the example above, replace NaN in "stroke" column by mean.</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- The answer is below:

# calculate the mean vaule for "stroke" column
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:", avg_stroke)

# replace NaN by mean value in "stroke" column
df["stroke"].replace(np.nan, avg_stroke, inplace = True)

-->

<h4>Calculate the mean value for the  'horsepower' column:</h4>

In [ ]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

<h4>Replace "NaN" by mean value:</h4>

In [ ]:
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

<h4>Calculate the mean value for 'peak-rpm' column:</h4>

In [ ]:
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

<h4>Replace NaN by mean value:</h4>

In [ ]:
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

To see which values are present in a particular column, we can use the ".value_counts()" method:

In [ ]:
df['num-of-doors'].value_counts()

We can see that four doors are the most common type. We can also use the ".idxmax()" method to calculate for us the most common type automatically:

In [ ]:
df['num-of-doors'].value_counts().idxmax()

The replacement procedure is very similar to what we have seen previously

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace=True)

Finally, let's drop all rows that do not have price data:

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

<b>Good!</b> Now, we obtain the dataset with no missing values.

<h3 id="correct_data_format">Correct data format</h3>
<b>We are almost there!</b>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use 

<p><b>.dtype()</b> to check the data type</p>
<p><b>.astype()</b> to change the data type</p>

<h4>Lets list the data types for each column</h4>

In [ ]:
df.dtypes

<p>As we can see above, some columns are not of the correct data type. Numerical variables should have type 'float' or 'int', and variables with strings such as categories should have type 'object'. For example, 'bore' and 'stroke' variables are numerical values that describe the engines, so we should expect them to be of the type 'float' or 'int'; however, they are shown as type 'object'. We have to convert data types into a proper format for each column using the "astype()" method.</p>

<h4>Convert data types to proper format</h4>

In [ ]:
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

<h4>Let us list the columns after the conversion</h4>

In [ ]:
df.dtypes

<b>Wonderful!</b>

Now, we finally obtain the cleaned dataset with no missing values and all data in its proper format.

<h2 id="data_standardization">Data Standardization</h2>
<p>
Data is usually collected from different agencies with different formats.
(Data Standardization is also a term for a particular type of data normalization, where we subtract the mean and divide by the standard deviation)
</p>
    
<b>What is Standardization?</b>
<p>Standardization is the process of transforming data into a common format which allows the researcher to make the meaningful comparison.
</p>

<b>Example</b>

<p>Transform mpg to L/100km:</p>
<p>In our dataset, the fuel consumption columns "city-mpg" and "highway-mpg" are represented by mpg (miles per gallon) unit. Assume we are developing an application in a country that accept the fuel consumption with L/100km standard</p>
<p>We will need to apply <b>data transformation</b> to transform mpg into L/100km?</p>

<p>The formula for unit conversion is<p>
L/100km = 235 / mpg
<p>We can do many mathematical operations directly in Pandas.</p>

In [ ]:
df.head()

In [ ]:
# Convert mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"]

# check your transformed data 
df.head()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #2: </h1>

<b>According to the example above, transform mpg to L/100km in the column of "highway-mpg", and change the name of column to "highway-L/100km".</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- The answer is below:

# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'"highway-mpg"':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()

-->

<h2 id="data_normalization">Data Normalization</h2>

<b>Why normalization?</b>

<p>Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling variable so the variable values range from 0 to 1
</p>

<b>Example</b>

<p>To demonstrate normalization, let's say we want to scale the columns "length", "width" and "height" </p>
<p><b>Target:</b>would like to Normalize those variables so their value ranges from 0 to 1.</p>
<p><b>Approach:</b> replace original value by (original value)/(maximum value)</p>

In [ ]:
# replace (original value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Questiont #3: </h1>

<b>According to the example above, normalize the column "height".</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- The answer is below:

df['height'] = df['height']/df['height'].max() 
# show the scaled columns
df[["length","width","height"]].head()

-->

Here we can see, we've normalized "length", "width" and "height" in the range of [0,1].

<h2 id="binning">Binning</h2>
<b>Why binning?</b>
<p>
    Binning is a process of transforming continuous numerical variables into discrete categorical 'bins', for grouped analysis.
</p>

<b>Example: </b>

<p>In our dataset, "horsepower" is a real valued variable ranging from 48 to 288, it has 57 unique values. What if we only care about the price difference between cars with high horsepower, medium horsepower, and little horsepower (3 types)? Can we rearrange them into three ‘bins' to simplify analysis? </p>

<p>We will use the Pandas method 'cut' to segment the 'horsepower' column into 3 bins </p>

<h3>Example of Binning Data In Pandas</h3>

 Convert data to correct format

In [ ]:
df["horsepower"]=df["horsepower"].astype(int, copy=True)

Lets plot the histogram of horspower, to see what the distribution of horsepower looks like.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["horsepower"])

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

<p>We would like 3 bins of equal size bandwidth so we use numpy's <code>linspace(start_value, end_value, numbers_generated</code> function.</p>
<p>Since we want to include the minimum value of horsepower we want to set start_value=min(df["horsepower"]).</p>
<p>Since we want to include the maximum value of horsepower we want to set end_value=max(df["horsepower"]).</p>
<p>Since we are building 3 bins of equal length, there should be 4 dividers, so numbers_generated=4.</p>

We build a bin array, with a minimum value to a maximum value, with bandwidth calculated above. The bins will be values used to determine when one bin ends and another begins.

In [ ]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

 We set group  names:

In [ ]:
group_names = ['Low', 'Medium', 'High']

 We apply the function "cut" the determine what each value of "df['horsepower']" belongs to.

In [ ]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names, include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

Lets see the number of vehicles in each bin.

In [ ]:
df["horsepower-binned"].value_counts()

Lets plot the distribution of each bin.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
pyplot.bar(group_names, df["horsepower-binned"].value_counts())

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

<p>
    Check the dataframe above carefully, you will find the last column provides the bins for "horsepower" with 3 categories ("Low","Medium" and "High"). 
</p>
<p>
    We successfully narrow the intervals from 57 to 3!
</p>

<h3>Bins visualization</h3>
Normally, a histogram is used to visualize the distribution of bins we created above.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot

a = (0,1,2)

# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["horsepower"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

The plot above shows the binning result for attribute "horsepower".

<h2 id="indicator">Indicator variable (or dummy variable)</h2>
<b>What is an indicator variable?</b>
<p>
    An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. 
</p>

<b>Why we use indicator variables?</b>

<p>
    So we can use categorical variables for regression analysis in the later modules.
</p>
<b>Example</b>
<p>
    We see the column "fuel-type" has two unique values, "gas" or "diesel". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "fuel-type" into indicator variables.
</p>

<p>
    We will use the panda's method 'get_dummies' to assign numerical values to different categories of fuel type. 
</p>

In [ ]:
df.columns

get indicator variables and assign it to data frame "dummy_variable_1"

In [ ]:
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

change column names for clarity

In [ ]:
dummy_variable_1.rename(columns={'fuel-type-diesel':'gas', 'fuel-type-diesel':'diesel'}, inplace=True)
dummy_variable_1.head()

We now have the value 0 to represent "gas" and 1 to represent "diesel" in the column "fuel-type". We will now insert this column back into our original dataset.

In [ ]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)

In [ ]:
df.head()

The last two columns are now the indicator variable representation of the fuel-type variable. It's all 0s and 1s now.

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #4: </h1>

<b>As above, create indicator variable to the column of "aspiration": "std" to 0, while "turbo" to 1.</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- The answer is below:

# get indicator variables of aspiration and assign it to data frame "dummy_variable_2"
dummy_variable_2 = pd.get_dummies(df['aspiration'])

# change column names for clarity
dummy_variable_2.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)

# show first 5 instances of data frame "dummy_variable_1"
dummy_variable_2.head()

-->

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #5: </h1>

<b>Merge the new dataframe to the original dataframe then drop the column 'aspiration'</b>

</div>

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- The answer is below:

#merge the new dataframe to the original datafram
df = pd.concat([df, dummy_variable_2], axis=1)

# drop original column "aspiration" from "df"
df.drop('aspiration', axis = 1, inplace=True)

-->

save the new csv

In [ ]:
df.to_csv('clean_df.csv')

### Thank you for completing this lab!

## Author

<a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a>

### Other Contributors

<a href="https://www.linkedin.com/in/mahdi-noorian-58219234/" target="_blank">Mahdi Noorian PhD</a>

Bahare Talayian

Eric Xiao

Steven Dong

Parizad

Hima Vasudevan

<a href="https://www.linkedin.com/in/fiorellawever/" target="_blank">Fiorella Wenver</a>

<a href=" https://www.linkedin.com/in/yi-leng-yao-84451275/ " target="_blank" >Yi Yao</a>.

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2020-08-27        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>